<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple">
<p style="font-size: 20px; color: white">Cargando</p>
</ngx-spinner>

<div class="container">

   <div class="row">
      
      <div class="col-2 center">Tipo Elemento
      </div>
      
      <div class="col-10">
         <mat-form-field>
            <mat-select id="test" [(ngModel)]="option" name="option">
               <mat-option *ngFor = "let page of pages" [value]="page.id">
                  {{page.name}}
               </mat-option>
            </mat-select>
         </mat-form-field>
      </div>
   </div>

   <div class="row">
      <div class="col-12">
         <app-providers *ngIf="option == 1"></app-providers>
         <app-shops *ngIf="option == 2"></app-shops>
         <app-products *ngIf="option == 3"></app-products>
         <app-inventory-stores *ngIf="option == 4"></app-inventory-stores>
      </div>
   </div>
</div>
<router-outlet></router-outlet>
