/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.right {    
    position: relative;
    right: 0;
    float: right;
    margin-right: 10px;
    margin-bottom: 20px;
}
